.login
{
	border: 1px solid #E1E1E1;
	background-color:#F2F2F2;
    text-align: center;
    padding-top:10px;
    padding-bottom:10px;
}
.login label
{
    display:block;
    margin: 5px;
}
input, textarea, select
{
    border: 1px solid #E1E1E1;
    padding:5px;
    background-color:#fff;
}

input:hover, textarea:hover, select:hover
{
    border: 1px solid #E1E1E1;
    background: #ffc;
}
input[disabled=disabled]:hover {
    border: 1px solid #006;
}

.button, input[type=submit], input[type=reset] {
  display: inline-block;
  margin:10px;
  padding:5px 10px 5px 10px;
  border:1px solid #dedede;
  border-top:1px solid #eee;
  border-left:1px solid #eee;
  background-color:#f5f5f5;
  font-family:"Liberation Sans", Helvetica, Arial, sans-serif;
  font-size:100%;
  color:#336699;
  line-height:130%;
  text-decoration:none;
  font-weight:bold;
  color:#565656;
  cursor:pointer;
  width:auto; overflow:visible;
}

.button img
{
vertical-align:middle;
}
/*** STANDARD BUTTONS ***/
.button:visited
{
color:#336699;
}
.button:hover, input[type=submit]:hover, input[type=reset]:hover
{
text-decoration:none;background-color:#dff4ff; border:1px solid #c2e1ef; color:#336699;
}

.button:active, input[type=submit]:active, input[type=reset]:active
{
background-color:#6299c5; border:1px solid #6299c5; color:#336699;
}


.msg
{
padding:10px; padding-left:35px;
}
.msg.warning
{
background:url("images/ico-warning.gif") 10px 50% no-repeat;
}
.msg.info
{
background:url("images/ico-info.gif") 10px 50% no-repeat;
}
.msg.done
{
background:url("images/ico-done.gif") 10px 50% no-repeat;
}
.msg.error
{
background:url("images/ico-delete.gif") 10px 50% no-repeat;
}

.msg {padding:10px; padding-left:35px; margin-bottom:10px;}
.msg.warning {background:url("../images/ico-warning.gif") 10px 50% no-repeat;}
.msg.info {background:url("../images/ico-info.gif") 10px 50% no-repeat;}
.msg.done {background:url("../images/ico-done.gif") 10px 50% no-repeat;}
.msg.error {background:url("../images/ico-delete.gif") 10px 50% no-repeat;}

.msg.warning {border:2px solid #F2DD8C; background-color:#FFF5CC;}
.msg.warning a {color:#df0000;} .msg.warning a:hover, .msg.warning a:active, .msg.warning a:focus {color:#303030;}
.msg.info {border:2px solid #B8E2FB; background-color:#E8F6FF;}
.msg.done {border:2px solid #BBDF8D; background-color:#EAF7D9;}
.msg.error {border:2px solid #FFAEAE; background-color:#FEEBEB;}

span .warning {
    background:url("../images/ico-warning.gif") 50% 50% no-repeat;
    width:25px;
}
span .done {
    background:url("../images/ico-done.gif") 50% 50% no-repeat;
    padding:10px;
}
span .error {
    background:url("../images/ico-warning.gif") 50% 50% no-repeat;
    width:25px;
}

img
{
    vertical-align: middle;
    margin:3px;
}

table
{
    width:100%;
	font-family: Arial, Helvetica, sans-serif;
}

th
{
    text-align:center;
    padding:5px;
    border:2px solid #DEDEDE;
    font-weight:bold;
    color:white;
    background-color: #457EAD;
    white-space: nowrap;
}

td
{

    padding:5px;
    border:2px solid #DEDEDE;
    white-space: nowrap;
    vertical-align: top;
}

fieldset *
{
    vertical-align:top;
}
fieldset div
{
    display:block;
    margin-bottom:5px;
}
fieldset div label
{
    display: inline-block;
    width:200px;
    margin-top:7px;
}

fieldset div label.form-info
{
    color:#359B28;
    margin-left:10px;
    display:inline-block;
    background-color:#F6FFFF;
    border:1px solid #E8F6FF;
    padding:5px;
    margin-top:0px;
    width:auto;
}

fieldset div label.form-warning
{
    color:#77B752;
    margin-left:10px;
    display: inline;
    background-color:#FEEBEB;
    border:1px solid #FFAEAE;
    padding:5px;
}
textarea
{
    width:100%;
    margin:0px auto;
    height:500px;
}

.text-center
{
    text-align:center;
}

.width-long
{
    width:300px;
}

.width-medium
{
    width: 200px;
}

.width-short
{
    width: 100px;
}

h1
{
    display:block;
    font-size:200%;
    text-align:center;
    font-weight:bold;
    background-color: #457EAD;
    padding:5px;
    color: #fff;
    margin-bottom: 10px;
}

h2
{
    display:block;
    font-size:150%;
    text-align:left;
    font-weight:bold;
    background-color: #F5F5F5;
    padding:5px;
    color: #57A0DB;
    margin-top: 10px;
    margin-bottom: 10px;
}


select:hover option
{
    background: #fff;
}

strong
{
    font-weight: bold;
}

.quick_question  {
    margin-left:25px;
    list-style:square;

}

.quick_question a {
    color:#0090D4;
    text-decoration:none;
}

.faq .question {
    text-decoration: none;
    font-weight: bold;
}

.faq .question a {
    color:#000;
}

.faq {margin-bottom: 5px;}

.faq li {
    line-height:25px;
}

.faq .question {
    text-decoration: none;
    font-weight: bold;
}

.action .edit { color: #c5a059; text-decoration:none;}
.action .delete { color: #a02b2b; text-decoration:none;}
.action .view { color: #55a34a; text-decoration:none;}

.action .edit:hover { color: #c5a059; text-decoration:underline;}
.action .delete:hover { color: #a02b2b; text-decoration:underline;}
.action .view:hover { color: #55a34a; text-decoration:underline;}
